/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
a
{
    color: #333;
    text-decoration: none;
}
header
{
    display: flex;
    padding: 5px 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h2 span:nth-child(1)
{
    color: red;
}
header h2 span:nth-child(2)
{
    color: #f0f0f0;
}
header h2 span:nth-child(3)
{
    color: #0066ff;
}
.menu 
{
    display: none;
}
.links
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.links a , .linksDown a
{
    padding: 5px;
    text-decoration: none;
    color: #f1f1f1;
    margin: 0px 5px;
}
.links a:hover .linksDown a:hover
{
    color: #0066ff;
    /* background-color: #3333; */
    transition-delay: 0.3s;
}
.links .account a:last-child
{
    background-color: #0066ff;
    color: #fff;
    border-radius: 15px;
    padding: 7px;
    text-align: center;
}
.panel{
    display: none;
}
.panel i{
    color: #f0f0f0;
}
.linksDown
{
    display: none;
}
.accDown
{
    display: none;
}
@media screen and (max-width:760px)
{
    header
    {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .menu
    {
        display: block;
        font-size: 24px;
    }
    .menu span i {
        color: #f0f0f0;
    }
    .links
    {
        display: none;
    }
    .panel
    {
        display: block;
        font-size: 24px;
    }
    .linksDown.down
    {
        display: block;
        padding: 10px 20px;
        background-color: #f0f0f0;
        margin-top: 5px;
        border-radius: 7px;
        z-index: 10000;
    }
    .linksDown a
    {
        display: block;
        padding: 7px;
        color: #333;
    }
    .accDown.down
    {
        display: block;
        text-align: center;
        position: absolute;
        right: 0;
        padding: 7px;
        background-color: #f0f0f0;
        width: 100%;
        max-width: 100px;
        border-radius: 5px;
        margin-top: 5px;
        top: 40px;
        z-index: 10000;
    }
    .accDown.down a
    {
        display: block;
        padding: 4px;
        color: #333;
    }
}